<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
    body
        h1 LogIn Page
        h2 #{msg}

        form(action="process_login", method="post")
            p
                label(for="username") UserId
                input(type="text", name="username")
            p
                label(for="password") password
                input(type="password", name="password")
            p
                input(type="submit" , value="Log in")