<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
    body
        //h1 Hello_Pug
        //h1= header
        h1 #{header}
        table(border="1")
            tr 
                th n
                th n!
            each n,i in vals
                tr
                    td #{i}
                    td #{n}